/* Version: ${pkg.version} */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 230 15% 95%;
    --foreground: 230 25% 20%;
    --card: 230 15% 98%;
    --card-foreground: 230 25% 20%;
    --popover: 230 15% 98%;
    --popover-foreground: 230 25% 20%;
    --primary: 260 100% 60%;
    --primary-foreground: 230 10% 98%;
    --secondary: 230 15% 90%;
    --secondary-foreground: 260 100% 60%;
    --muted: 230 10% 92%;
    --muted-foreground: 230 20% 40%;
    --accent: 135 100% 60%;
    --accent-foreground: 230 10% 98%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 230 10% 98%;
    --border: 230 15% 85%;
    --input: 230 15% 85%;
    --ring: 260 100% 60%;
    --chart-1: 260 100% 60%;
    --chart-2: 135 100% 60%;
    --chart-3: 30 100% 60%;
    --chart-4: 310 100% 60%;
    --chart-5: 190 100% 60%;
  }

  .dark {
    --background: 230 15% 15%;
    --foreground: 60 30% 96%;
    --card: 230 15% 17%;
    --card-foreground: 60 30% 96%;
    --popover: 230 15% 17%;
    --popover-foreground: 60 30% 96%;
    --primary: 260 100% 70%;
    --primary-foreground: 230 10% 10%;
    --secondary: 230 15% 25%;
    --secondary-foreground: 260 100% 70%;
    --muted: 230 15% 22%;
    --muted-foreground: 60 20% 70%;
    --accent: 135 100% 70%;
    --accent-foreground: 230 10% 10%;
    --destructive: 0 100% 70%;
    --destructive-foreground: 230 10% 98%;
    --border: 230 15% 25%;
    --input: 230 15% 25%;
    --ring: 260 100% 70%;
    --chart-1: 260 100% 70%;
    --chart-2: 135 100% 70%;
    --chart-3: 30 100% 70%;
    --chart-4: 310 100% 70%;
    --chart-5: 190 100% 70%;
  }
  div.preview * {
    @apply !transition-none;
  }

  * {
    @apply border-border;
    /* @apply outline outline-1 outline-red-500; */
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-primary/5;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary/25 hover:bg-primary/50;
  }

  /* Typography */
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-of-type)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  .lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
  small {
    @apply text-sm font-medium leading-none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
